.app-container {
  display: flex; 
  min-height: 100vh;
  transition: all 0.3s ease;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  height: 100vh;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}


.app-container:not(.sidebar-open) .sidebar {
  transform: translateX(-100%);
  position: absolute;
  z-index: 2;
}

.main-content {
  flex: 1;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
  margin-left: 60px; 
  position: relative;
}

.sidebar-open .main-content {
  margin-left: 250px;
}